## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
x = 18
print (x)

18

In [2]:
print(type(x))

<class 'int'>

2) Imprimir el tipo de dato de la constante 8.5

In [3]:
type(8.5)

float

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [4]:
print(type(x))

<class 'int'>

4) Crear una variable que contenga tu nombre

In [5]:
mi_nombre = "Saray"

5) Crear una variable que contenga un número complejo

In [11]:
a = 5 + 5j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [13]:
type(a)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [14]:
pi = 3.1415

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [15]:
var1 = "True"
var2 = True

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [16]:
print(type(var1))
print(type(var2))

<class 'str'>
<class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [18]:
sa = 3 + 3.14
print(sa)

6.140000000000001

11) Realizar una operación de suma de números complejos

In [19]:
a = 3 + 3j
b = 1 + 5j
a + b

(4+8j)

12) Realizar una operación de suma de un número real y otro complejo

In [20]:
a2=3
a + a2

(6+3j)

13) Realizar una operación de multiplicación

In [21]:
p1 = 4
p2 = 5
p1 * p2

20

14) Mostrar el resultado de elevar 2 a la octava potencia

In [22]:
2**8

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [23]:
d = 27 / 4
print(d)

6.75

16) De la división anterior solamente mostrar la parte entera

In [24]:
int(d)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [25]:
27 % 4

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [26]:
(int(d))*4 + (27 % 4)

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [28]:
"Saray" + " " +"tiene" + " 30 años"

'Saray tiene 30 años'

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [31]:
a = "2"
b = 2
a == b #False el tipo de dato de a es string mientras el tipo de dato b es intreger

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [33]:
a2 = int(a)
a2 == b

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [34]:
a = float("3,8")

ValueError: could not convert string to float: '3,8'

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [42]:
new = 3
new -=1
print(new)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [43]:
1 << 2

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [44]:
2 + "2"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [46]:
2 + int("2")

4

26) Realizar una operación válida entre valores de tipo entero y string

In [45]:
"ja" * 3

'jajaja'